.bath-houses {
    margin: 78px 0 83px 0;

    .bath-header {
        font-size: 36px;
        line-height: 1.18;
        font-weight: 500;
        justify-content: center;
    }

    .bath-content {
        margin-top: 55px;
        display: flex;
        flex-wrap: wrap;
    }

    .bath-item {
        width: 25%;
        margin-bottom: 50px;
        text-decoration: none;
        color: inherit;

        &:hover {
            .bath-preview {
                img {
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                    border-radius: 16px;
                }
            }
        }
    }

    .bath-preview {
        position: relative;
        width: fit-content;
        height: fit-content;
    }

    .bath-people {
        position: absolute;
        top: 274px;
        left: 8px;
    
        font-size: 15px;
        line-height: 1.177;
        font-weight: 500;
        color: #fff;
    
        background: rgba(255, 255, 255, 0.28);
        border-radius: 49px;
        padding: 10px 18.5px;
    }

    .bath-caption {
        font-size: 22px;
        line-height: 1.18;
        font-weight: 600;
    
        margin-top: 24px;
    }

    .bath-price {
        font-size: 18px;
        line-height: 1.31;
        font-weight: 600;
        color: $priceColor;

        margin-top: 13px;
    }
}