/* Fonts */
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/GilroyLight/Gilroy-Light.eot');
	src: local('☺'), url('../fonts/Gilroy/GilroyLight/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy/GilroyLight/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy/GilroyLight/Gilroy-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/GilroyRegular/gilroy-regular.eot');
	src: local('☺'), url('../fonts/Gilroy/GilroyRegular/gilroy-regular.woff') format('woff'), url('../fonts/Gilroy/GilroyRegular/gilroy-regular.ttf') format('truetype'), url('../fonts/Gilroy/GilroyRegular/gilroy-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/GilroySemibold/gilroy-semibold.eot');
	src: local('☺'), url('../fonts/Gilroy/GilroySemibold/gilroy-semibold.woff') format('woff'), url('../fonts/Gilroy/GilroySemibold/gilroy-semibold.ttf') format('truetype'), url('../fonts/Gilroy/GilroySemibold/gilroy-semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/GilroyBold/gilroy-bold.eot');
	src: local('☺'), url('../fonts/Gilroy/GilroyBold/gilroy-bold.woff') format('woff'), url('../fonts/Gilroy/GilroyBold/gilroy-bold.ttf') format('truetype'), url('../fonts/Gilroy/GilroyBold/gilroy-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy/GilroyExtraBold/Gilroy-ExtraBold.eot');
	src: local('☺'), url('../fonts/Gilroy/GilroyExtraBold/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy/GilroyExtraBold/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy/GilroyExtraBold/Gilroy-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}


/**
 * Reset
 */
 * {
    line-height: normal;
}

 a {
    outline: none !important;
}

 a:hover {
    color: currentColor;
    text-decoration: none;
}

 button {
    outline: none !important;
}

 h1, h2, h3, h4, h5, h6 {
    margin:0;
}
   /**
   * ? If u'll use
   */
 figure {
    margin-bottom: 0;
}


 ul, ol, p, address {
    margin: 0;
    padding: 0
}

 button:focus, input:focus, textarea:focus 
 {
    outline: none !important;
    box-shadow: none !important
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

 body {
    width:100%;
    font-family:'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1A1A18;
    line-height: normal;
    min-width:320px;
    overflow-x:hidden;
}


/**
 * Template 
 */
 .template {
    max-width: 1920px;
    margin: 0 auto;
}

/* Container */
.container {
    max-width: 1450px;
    margin: 0 auto;
}

.intro-container {
    max-width: 1650px;
    margin: 0 auto;
}

/**
 * Intro
 */
.intro {
    background: #1b791f url("../images/bg/intro-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 685px;
}

.intro-content {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 146px;
    
}

.intro-title {
    font-size: 54px;
    font-weight: 500;
    line-height: 1.037;
    color: white;
    width: 12em;
}

.intro-form {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 303px;

    position: relative;
}

.booking-form {
    position: absolute;
    z-index: 1000;
}



/**
 * Header
 */
 header {
    height: 110px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header-logo {
    
 }

 .header-socials {
    display: flex;
    align-items: center;
 }

 .header-phone {
    margin-left: 21px;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #fff;
 }

 .header-phone-link {
    text-decoration: none;
    color: inherit;
 }

 /* Nav */
.nav-main {
    font-weight: 500;
    color: #fff;
}

.nav-main ul {
    display: flex;
    flex-direction: row;
}

.nav-link {
    list-style: none;
    margin-left: 35px;
}

.nav-link:first-child {
    margin: 0;


}

.nav-link a {
    color: inherit;
    text-decoration: none;
    
}

.nav-link a:hover {
    text-decoration: underline;
    cursor: url("/assets/template/images/cursors/white-cursor.svg") pointer;
}


/**
 * Bath-houses
 */
.bath-houses {
    margin: 78px 0 83px 0;
}

.bath-container {
    max-width: 1270px;
    margin: 0 auto;
}

.bath-header {
    font-size: 36px;
    line-height: 1.18;
    font-weight: 500;
    justify-content: center;
}

.bath-content {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}

.bath-item {
    width: 25%;
    margin-bottom: 50px;
    text-decoration: none;
    color: inherit;
}

.bath-item:hover .bath-preview img{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.bath-preview {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.bath-people {
    position: absolute;
    top: 274px;
    left: 8px;

    font-size: 15px;
    line-height: 1.177;
    font-weight: 500;
    color: #fff;

    background: rgba(255, 255, 255, 0.28);
    border-radius: 49px;
    padding: 10px 18.5px;
}

.bath-caption {
    font-size: 22px;
    line-height: 1.18;
    font-weight: 600;

    margin-top: 24px;
}

.bath-price {
    font-size: 18px;
    line-height: 1.31;
    font-weight: 600;
    color: #6D9121;

    margin-top: 13px;
}

/**
 * Services
 */
.services {

}

.services-header {
    font-size: 36px;
    line-height: 0.5;
    font-weight: 500;
}

.services-slider {
    margin-top: 58px;
    display: flex;
}

.services-item {
    position: relative;
    border-radius: 16px;
    margin-right: 20px;
}

.services-item:last-child {
    margin-right: 0;
}

.services-title {
    position: absolute;
    top: 461px;
    left: 25px;

    font-size: 26px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: #fff;
}

/**
 * About
 */
.about {
    background: #b98787 url(../images/bg/about-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 111px;

    height: 1030px;
    position: relative;

}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;

    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    
    position: absolute;
    top: 171px;
    padding-bottom: 58px;
    margin: 0 450px;
}

.about-title {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 500;

    margin-top: 63px;
}

.about-subtitle {
    font-size: 22px;
    line-height: 1.36;
    font-weight: 600;

    margin-top: 28px;
}

.about-text {
    font-size: 20px;
    line-height: 1.4;

    margin: 7px 95px 0;
}

.about-cards {
    display: flex;
    margin-top: 58px;
}

 /* Cards */
.cards-item {
    background: #EDEFCA;
    margin-right: 19px;
    border-radius: 16px;
}

.cards-item:last-child {
    margin-right: 0;
}

.cards-content {
    display: flex;
    flex-direction: column;
    padding: 30px 49px 26px 48px;
}

.card-title {
    color: #7C9577;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.35;

}

.card-text {
    font-size: 18px;
    line-height: 1.1;

    margin-top: 3px;
   
}

/**
 * Reviews
 */
.reviews {
    
}

.reviews-intro {
    display: flex;
    align-items: baseline;
}

.reviews-header {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 500;

    margin-right: 28px;
}

.allreviews-header {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 400;
    color: #58595B;
}

.reviews-content {
    display: flex;
}

.reviews-item {
    margin-right: 20px;

    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    
    width: 33.333%;
}

.reviews-item a {
    text-decoration: none;
    color: inherit;
}

.review-person {
    font-size: 18px;
    line-height: 1.38;
    font-weight: 500;

    margin-top: 33px;
    margin-left: 28px;
} 

.review-rating {
    display: flex;
    margin-top: 7px;
    margin-left: 28px;
}

.review-text {
    font-size: 16px;
    line-height: 1.25;
    margin: 28px 19px 44px 28px;

    color: #58595B;
}

 /* Rating */
.rating-stars svg {
    margin-right: 4.44px;
}

.rating-stars svg:last-child {
    margin-right: 10px;
}

.rating-text {
    font-size: 16px;
    line-height: 1.25;
    color: #919191;
}

/**
 * Articles
 */
.articles {
    margin-top: 100px;
    position: relative;
}

.articles-bg {
    position: absolute;
    top: 90px;
    left: 130px;


    background: rgba(255, 255, 255, 0.59);
    border: 1px solid #6D9121;
    border-radius: 16px;
    backdrop-filter: blur(5px);
}

.articles-content {
    padding: 113px 251px 190px 107px;

}

.articles-title {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 500;
}

.articles-subtitle {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 600;
    margin-top: 30px;
}

.articles-text {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 15px;
}

 /* Btn */
.articles-btn {
    display: inline-block;
    vertical-align: top;
    padding: 17px 53px;

    font-size: 17px;
    line-height: 1.17;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    background-color: #6D9121;
    border: 1px solid #6D9121;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(99, 141, 10, 0.49);

    margin-top: 64px;

    transition: box-shadow .1s;
    -webkit-transition: box-shadow .1s;
}

.articles-btn:hover {
    color: #fff;
    box-shadow: 0px 0px 0px #fff;
}

 /* Slider */
.articles-slider {
    position: absolute;
    top: 35px;
    left: 540px;
    display: flex;
    align-items: center;
}

.articles-item {
    margin-right: 20px;
    border-radius: 16px;
    filter: drop-shadow(0px 3.17336px 19.0401px rgba(88, 87, 87, 0.23));
}


.articles-time {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: #fff;
    margin-top: 400px;

}

.articles-shorttitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
}


.articles-arrows {
    display: flex;
    position: absolute;
    left:0;
    bottom: 25px;
}

.articles-arrows a {
    margin-right: 29px;   
    text-decoration: none;
}

.articles-arrows a:last-child {
    margin-right: 0;
}

/**
 * Footer
 */
footer {
    background-color: #7C9577;
    margin-top: 878px;
    display: flex;
}

.footer-info {
    width: 50%;
    color: #fff;
}

.footer-map {
    margin-right: 0;
    margin-left: auto;
}

.info-blocks {
    display: flex;
    padding-left: 340px;
}

.info-block:first-child {
    padding-right: 163px;
}

.info-block:last-child {
    padding-left: 66px;
}

.info-logo {
    width: 143px;
    margin-top: 31px;

}

address {
    font-size: 16px;
    line-height: 0.9375;
    font-style: normal;
    font-weight: 400;
    margin-top: 23px;
}

address p {
    margin-top: 10px;
}

address p a {
    text-decoration: none;
    color: #fff;
}

address p a:hover {
    text-decoration: underline;
}


.info-socials {
    margin-top: 33px;

}

.info-socials a{
    margin-right: 15px;
    text-decoration: none;
}
 /* Footer-nav */
.footer-nav {

}
.fnav-title {
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: -0.01em;
    font-weight: 600;

    margin-top: 47px;
}

.fnav-link {
    list-style: none;
    font-size: 16px;
    line-height: 1.125;
    margin-top: 14px;
}

.fnav-link:first-child {
    margin-top: 25px;
}

.fnav-link a {
    text-decoration: none;
    color: #fff;
}

.fnav-link a:hover {
    text-decoration: underline;
}

 /* Privacy */
.footer-privacy {
    margin-left: 340px;
    margin-top: 35px;
}

.copy {
    text-align: center;
    width: fit-content;
}

.copy a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: flex-end;
}

.copy span {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 13px;
}

.privacy {
    font-size: 14px;
    line-height: 1.495;
    color: #fff;

    margin-top: 26px;
}

.privacy a {
    text-decoration: none;
    color: inherit;
}









